@import 'mixins.scss';

html {
    font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

$color-accent: #c00;

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: $color-accent;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

img {
    width: 100%;
}

.player-container,
.media__list {
    height: 100%;
}

.player-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.bottom {
    color: #fff;
    // position: absolute;
    // bottom: 40px;
    // left: 65px;
    // right: 70px;
    // display: flex;
    // align-items: flex-end;
}

.lt {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;

    &__title {
        grid-column: 2 / 6;
        grid-row: 1 / 2;
        background-color: $color-accent;
        color: #fff;
        display: inline-block;
        font-size: 3.2rem;
        font-weight: 600;
        padding: 5px 15px 5px 15px;
    }

    &__description {
        grid-column: 2 / 10;
        grid-row: 2 / 4;
        background-color: #fff;
        color: #000;
        font-size: 3.8rem;
        font-weight: 700;
        padding: 10px;
        border-left: 5px solid $color-accent;
        letter-spacing: 0.01rem;
        line-height: 1.2;
    }

    &__live {
        grid-column: 10 / 12;
        grid-row: 1 / 2;
        background-color: $color-accent;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: .40rem;
        padding: 5px;
    }

    &__logo {
        grid-column: 10 / 12;
        grid-row: 2 / 3;
        background-color: #fff;
    }

    &__time {
        grid-column: 10 / 12;
        grid-row: 3 / 4;
        background-color: #000;
        padding: 5px;
    }

    &__show {
        grid-column: 9 / 12;
        grid-row: 4 / 5;
        background-color: #000;
    }
}

.media {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 5px;
        // with guests
        // margin-top: 40px;
        // width: 90%;
        // height: 75%;
        height: 100%;
    }

    &__item {
        border: 2px solid #fff;
    }
}